@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-bg {
  max-width: 1500px;
  margin: 0 auto;
  background-image: url(../public/Data-report.svg);
  background-repeat: no-repeat;
  background-size: 880px;
  background-position: 85% calc(68% + 50px);
}

.main {
  min-height: calc(100vh - 136px);
}
